[Unit]
Description=Emacs text editor, org-dedicated instance
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/

[Service]
Type=forking
# The first opened frame after daemon startup is borked so we start and kill one immediatelly.
ExecStart=sh -c '/usr/bin/emacs --daemon=org-emacs && emacsclient -c --eval "(delete-frame)"'
ExecStop=/usr/bin/emacsclient --socket-name=org-emacs --no-wait --eval "(progn (setq kill-emacs-hook nil) (kill-emacs))"
Restart=on-failure

[Install]
WantedBy=default.target
